rmbt
.git_version
core
*.o
*.d
.settings
.project
.cproject
.autotools
*.swp
*~
tmp/


# autotools
Makefile
Makefile.in
aclocal.m4
aclocal.m4.bak
autom4te.cache
compile
.deps
configure
config.cache
config.guess
config.log
config.status
config.sub
configure.lineno
install-sh
depcomp
missing
config.h
config.h.in
stamp-h1
*.tar.gz
